@media (min-width: 768px) { /* Pouze pro větší obrazovky */
    body {
        font-size: 110%; /* Zvýší velikost písma */
        zoom: 1.1; /* Zvětší celou stránku */
    }
}

/* Výchozí tmavý režim */
body {
    background-color: #0d0d0d;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

header {
    background-color: #222;
    padding: 20px;
    text-align: center;
}

/*navigační menu*/

nav ul {	/*zarovnání na střed*/
    list-style: none;
    padding: 0;
}

nav ul li {		/*zarovnání vedle sebe*/
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffcc00;
    text-decoration: none;
    font-weight: bold;
}

ul li a {   /*odkazy na články*/
    text-decoration: none;
}

a:visited, a:link{
    color: #ffcc00;
}

button {
    background: #ffcc00;
    color: #121212;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
}

p, h1, h2, h3{  /*odsazení textu od krajů*/
	margin-left: 20px;
	margin-right: 20px;
}

/* Světlý režim */
.light-mode {
    background-color: #ffffff;
    color: #000000;
}

.light-mode header {
    background-color: #e0e0e0;
}

.light-mode nav ul li a, .light-mode a:visited, .light-mode a:link {
    color: #d2691e;
}

.light-mode button {
    background: #d2691e;
    color: #ffffff;
}

table{  /*styl tabulek*/
  margin-left: 40px;
  color: black;
  text-align: center;
}

th, td {
  border-style:solid;
  border-color: #96D4D4;
  background-color: #ffcc00;
  margin-left: 40px;
}

.gallery-row {  /*obrázky*/
    display: flex;
    justify-content: center; /* Zarovná obrázky na střed */
    align-items: center;
    flex-wrap: wrap; /* Umožní zalomení na menších obrazovkách */
    gap: 10px; /* Mezera mezi obrázky */
}

.gallery-row img {
    margin-top: 10px;
    max-width: 1000px;
}

.description {
    text-align: center;
    margin: 10px; /* Odsazení nahoře a dole */
    font-style: italic;
}

.description_l {
    text-align: left;
    margin: 10px; /* Odsazení nahoře a dole */
    font-style: italic;
}

iframe {    /*videa*/
    width: 40%; /* 40 % šířky rodičovského prvku */
    height: calc(40vw * 9 / 16); /* Dynamická výška dle šířky */
    margin: auto;
    display: block;
}
