/* Výchozí tmavý režim */
body {
    background-color: #0d0d0d;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

header {
    background-color: #222;
    padding: 20px;
    text-align: center;
}

nav ul {	/*zarovnání na střed*/
    list-style: none;
    padding: 0;
}

nav ul li {		/*zarovnání vedle sebe*/
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffcc00;
    text-decoration: none;
    font-weight: bold;
}

ul li a {
    color: #ff6600;
    text-decoration: none;
}

button {
    background: #ffcc00;
    color: #121212;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
}

p, h1, h2{
	margin-left: 40px;
	margin-right: 40px;
}

figure {
  padding: 0px;
  justify-content: center;
}


/* Světlý režim */
.light-mode {
    background-color: #ffffff;
    color: #000000;
}

.light-mode header {
    background-color: #e0e0e0;
}

.light-mode nav ul li a {
    color: #d2691e;
}

.light-mode button {
    background: #d2691e;
    color: #ffffff;
}

table{
  margin-left: 40px;
  color: black;
  text-align: center;
  
}

th, td {
  border-style:solid;
  border-color: #96D4D4;
  background-color: #ffcc00;
  margin-left: 40px;
}

.gallery-row {
    display: flex;
    justify-content: center; /* Zarovná obrázky na střed */
    flex-wrap: wrap; /* Aby se přizpůsobily velikosti obrazovky */
    gap: 10px; /* Mezera mezi obrázky */
}

.gallery-row img {
    max-width: 100%; /* Aby se přizpůsobily velikosti kontejneru */
    height: auto;
    object-fit: cover;
    padding: 10px;
}

.description {
    text-align: center;
    margin: 10px; /* Odsazení nahoře a dole */
}

iframe {
    width: 40%; /* 40 % šířky rodičovského prvku */
    height: calc(40vw * 9 / 16); /* Dynamická výška dle šířky */
    margin: auto;
    display: block;
}
